/* !! font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* !! box model reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !! desktop size flex parents */
body {
    font-family: 'Poppins', sans-serif;
    background-color: gray;
}

nav {
    height: 64px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 16px 24px;
}

/* !! children flex adjustments */
#colmar-logo__image {
    padding-top: 10px;
    margin-right: -5px;
}

#colmar-logo__text h2 {
    display: inline-block;
    margin: -1px;
}

#colmar-logo__text--thin {
    font-weight: 100;
}

/* !! media-query for mobile responsive */
@media screen and (max-width: 360px) {

}