/* !! font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* !! box model reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !! desktop size flex parents */
body {
    font-family: 'Poppins', sans-serif;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
}

main {
    /* background-color: aquamarine; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: lightgray;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hero__text {
    display: flex;
    flex: 40%;
    flex-direction: column;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 32px;
}

.info__highlight {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    flex: 60%; 
    width: 60%;
}

.info__highlight img {
    width: 100%;
    height: auto;
    display: block;
}

.info__highlight h2 {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 24px;
}

#quote {
    padding-bottom: 32px;
    margin: 0;
}

#byline {
    padding-bottom: 32px;
    margin: 0;
}

.info__article {
    display: flex;
    flex: 40%;
    flex-direction: column;
    justify-content: center;
    border-left: 1px lightgray solid;
}

.info__article--box {
    display: flex;
    border-bottom: 1px lightgray solid;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
}

.info__article--box--image {
    background-color: rebeccapurple;
    flex: 35%;
    width: 30%;
}

.info__article--box--image img {
    display: block;
    height: auto;
    width: 100%;
}

#article-3 {
    background-color: lightgray;
}

.info__article--box--details {
    display: flex;
    justify-content: center;
    padding-left: 16px;
    flex: 65%;
    flex-direction: column;
}

.info__article--box--details h4, p, a {
    display: inline;
}

.info__article--box--details h4 {
    font-size: x-large;
}

.info__article--box--details a {
    color: rgb(59, 159, 221);
    text-decoration: none;
    
}

.info__article--box--details p {
    font-weight: 200;
    padding-top: 8px;
    padding-bottom: 8px;
}

.course {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.course__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 32px;
}

.course__list--box {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    margin-bottom: 32px;
    background-color: white;
    flex-basis: 33%;
    flex-shrink: 1;
}

.course__list--box--image {
    height: auto;
}

.course__list--box--image img {
    width: 100%;
    display: block;
}

.course__list--box--text p {
    margin: 0;
    display: inline;
}

.course__list--box--text {
    padding-left: 16px;
    padding-bottom: 24px;
    padding-top: 16px;
}

.thesis {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 24px;
}

.thesis h1 {
    /* !! add margin */
    margin-bottom: 32px;
    font-size: x-large;
}

.thesis__highlight {
    display: flex;
}

.thesis__highlight--video {
    flex: 60%;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 24px;
}

.thesis__highlight--video video {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 24px;
}

.thesis__highlight--video h2 {
    margin: 0;
    margin-bottom: 8px;
}

.thesis__highlight--video p {
    margin: 0;
    margin-bottom: 32px;
}

.thesis__highlight--article {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.thesis__highlight--article--box {
    display: flex;
}

.thesis__highlight--box--image {
    margin-right: 16px;
    flex: 35%;
}

.thesis__highlight--box--image img {
    display: block;
    height: auto;
    width: 100%;
    margin: 16px;
}

.thesis__highlight--box--details {
    display: flex;
    flex: 65%;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}

.thesis__highlight--box--details h4, p{
    display: inline;
    margin: 0;
}

.thesis__highlight--box--details h4 {
    font-size: x-large;
}

.thesis__highlight--box--details p {
    font-weight: 200;
}

#thesis-1 {
    background-color: lightgray;
}

nav {
    height: 64px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 16px 24px;
}

.colmar-logo {
    display: flex;
}

.nav-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-button a {
    margin-left: 16px;
}

footer {
    border-top: 1px lightgray solid;
    padding: 16px 24px;
}

.footer-bar {
    display: flex;
    justify-content: space-between;
}

/* !! children flex adjustments */
.hero__image {
    margin-right: 24px;
    width: 60%;
    flex: 60;
}

.hero__image img {
    width: 100%;
    height: auto;
    display: block;
}

.hero__text h2 {
    margin-bottom: 16px;
}

.hero__text h3 {
    margin-bottom: 24px;
    font-weight: 500;
}

.hero__text button {
    width: 280px;
    padding: 8px;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#colmar-logo__image {
    padding-top: 10px;
    margin-right: -5px;
}

#colmar-logo__text h2 {
    display: inline-block;
    margin: -1px;
}

#colmar-logo__text--thin {
    font-weight: 100;
}

#footer-bar__button a {
    margin-left: 16px;
}

/* !! media-query for mobile responsive */
@media screen and (max-width: 360px) {

}